html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
  background: $color-light;
}

main,
section,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;
  color: inherit;

  @include hov {
    color: $color-accent;
  }
}

// ---------------------------

[class*='__wrapper'] {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 40px 109px;

  @include media-t {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-s {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header,
.welcome,
.service,
.contacts {
  background: $color-bg;
}
