html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
  background: $color-light;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background: transparent;
    transition: background 0.3s;
  }

  &.menu-open {
    overflow: hidden;

    &::after {
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

main,
section,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;
  color: inherit;

  @include hov {
    color: $color-accent;
  }
}

// ---------------------------

[class*='__wrapper'] {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 40px 109px;

  @include media-l {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include media-m {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media-s {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header,
.welcome,
.service,
.contacts {
  background: $color-bg;
}
