.button {
  width: 161px;
  height: 50px;
  padding: 5px 10px;
  font-family: Inika, serif;
  @include font(20px, 26px, $color-accent);
  border: 1px solid $color-accent;
  border-radius: 5px;

  &_prices {
    width: 162px;
    font-weight: 700;
  }

  @include media-s {
    width: 121px;
    height: 35px;
    font-size: 15px;
    line-height: 20px;
  }

  &_welcome {
    width: 158px;
    height: 44px;
    font-family: Inter, sans-serif;
    @include font(16px, 20px, $color-dark);
    text-transform: uppercase;
    border-width: 2px;
    border-radius: 10px;

    @include media-s {
      width: 100px;
      height: 34px;
      font-size: 10px;
    }
  }

  &:not(.button_service):hover {
    color: $color-light;
    background: $color-accent;
  }

  &_service {
    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 10px -8px lighten($color-accent, 15%);
      }
    }

    &.active {
      color: $color-light;
      background: $color-accent;
    }

    &:disabled {
      cursor: auto;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
