body {
  font-family: Inter, sans-serif;
  @include font(20px, 30px, $color-text);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @include font(45px, 50px, $color-gray, 700);
}

h2 {
  font-family: Inika, serif;
  @include font(40px, 52px, $color-prim);
}

h3 {
  @include font(20px, 20px, $color-accent, 700);
}
