.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: 'Inika', serif;
  font-size: 16px;
  line-height: 50px;

  @include media-t {
    padding-top: 35px;
    padding-bottom: 32px;
  }
}

.logo {
  padding: 0 10px 0 23px;
  color: $color-dark;
  background: url('../assets/svg/logo.svg') no-repeat;
  background-position: 0 10px;
}

.nav__list {
  display: flex;
  gap: 27px;
  margin-right: -9px;
}

.nav__link {
  padding: 0 10px;
  color: $color-links;
}
