.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 93px;
  padding-bottom: 94px;

  @include media-t {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 95px;
  }
}

.about__content {
  max-width: 605px;
  padding-top: 68px;

  @include media-t {
    max-width: 100%;
    padding-top: 0;
  }
}

.about__title {
  max-width: 463px;
  margin-bottom: 38px;

  @include media-t {
    max-width: 423px;
    margin: 0 auto 50px;
    text-align: center;
  }
}

.about__span {
  color: $color-accent;
}

.about__pic{
  @include media-t {
    width: 250px;
    margin-top: 28px;
  }
}