.service__wrapper {
  padding-bottom: 121px;

  @include media-t {
    padding-top: 60px;
    padding-bottom: 68px;
  }
}

.service__content {
  display: flex;
  gap: 38px;
  margin-bottom: 80px;

  @include media-t {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

.service__title {
  max-width: 306px;
  margin-right: 102px;
}

.service__buttons {
  display: flex;
  align-items: center;
  gap: 38px;
  padding-top: 4px; //PP
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
  @include media-t {
    gap: 36px;
  }
}

.service-item {
  width: 330px;
  border-radius: 20px;
  overflow: hidden;

  @include media-t {
    width: 280px;
  }
}

.service-item__pic {
  @include img();
  padding-top: 350px;
}

.service-item__content {
  padding: 9px 20px 35px;
  text-align: center;
  border: 1px solid $color-border;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include media-t {
    padding: 10px 40px 20px;
  }
}

.service-item__title {
  margin-bottom: 14px;
  @include media-t {
    margin-bottom: 10px;
  }
}

.service-item__desc {
  @include font(16px, 20px, $color-gray);
}
