.contacts__wrapper {
  padding-top: 60px;
  padding-bottom: 0;
  @include media-t {
    padding-top: 40px;
  }
  @include media-s {
    padding-top: 25px;
  }
}

.contacts__title {
  text-align: center;
  font-weight: 700;
  @include media-t {
    margin-bottom: 99px;
    font-size: 40px;
    line-height: 52px;
  }
  @include media-m {
    margin-bottom: 81px;
  }
  @include media-s {
    font-size: 25px;
    line-height: 33px;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  @include media-t {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__pic {
  margin-top: -59px;
  @include media-t {
    order: 1;
    width: 200px;
    margin-top: 0;
    margin-left: 20px;
  }
  @include media-s {
    width: 100px;
    margin-left: -5px;
  }
}

// --------------------------

.contacts__select {
  position: relative;
  z-index: 1;
  margin-top: 36px;
  margin-bottom: 47px;
}

.select {
  width: 450px;
  height: 50px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include media-t {
    margin-top: 0;
    margin-bottom: 249px;
  }
  @include media-s {
    width: 300px;
    max-width: 100%;
    margin-bottom: 132px;
  }

  &.open,
  &.selected {
    box-shadow: none;
  }
}

.select__header {
  position: relative;
  padding: 0 35px;
  @include font(20px, 50px, $color-gray);
  letter-spacing: 0.05em;
  background: $color-bg2;
  transition: background 0.3s;
  user-select: none;
  cursor: pointer;

  @include media-s {
    padding-right: 12px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 17px;
    right: 35px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #aea1a1 url('../assets/svg/arrow.svg') no-repeat center;
    transition: 0.3s;
  }

  @include hov {
    background: $color-bg3;
    &:after {
      background-color: #8ba07e;
    }
  }

  .select.open & {
    background: $color-bg3;
    &:after {
      background-color: #8ba07e;
      transform: rotate(180deg);
    }
  }

  .select.selected & {
    background: $color-bg3;
    font-size: 16px;
  }
}

.select__body {
  appearance: none;
  display: block;
  width: 100%;
  padding: 18px 35px 30px;
  border: none;
  outline: none;
  background: $color-bg2;
  overflow: visible; //for webkit
  scrollbar-width: none; //for mozilla
  cursor: pointer;
}

.select__option {
  appearance: none;
  width: 100%;
  padding: 20px 5px 5px;
  @include font(16px, 50px, $color-prim);
  letter-spacing: 0.05em;
  border-bottom: 1px solid #d9d9d9;
  background: $color-bg2;
  transition: 0.3s;

  &:hover,
  &:focus,
  &:active {
    color: $color-gray;
    border-color: $color-gray;
  }
}

//This is nececcary to get rid of blue background and white color
.select__option:checked {
  position: relative;

  &:after {
    content: attr(value);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5px 5px;
    color: $color-gray;
    background: linear-gradient($color-bg2, $color-bg2);
    background-color: $color-bg2 !important;
    border-bottom: 1px solid #d9d9d9;
    transition: 0.3s;
  }

  &:hover:after {
    border-color: $color-gray;
  }
}

// -----------------------------------------

.contacts__right-column {
  position: relative;
}

.contacts__card {
  position: absolute;
  top: 36px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;

  .select.selected ~ & {
    top: 133px;
    opacity: 1;
    pointer-events: all;
  }
}

.info-card {
  width: 450px;
  padding: 17px 33px 32px;
  @include font(16px, 40px, $color-gray);
  letter-spacing: 0.05em;
  border: 1px solid #000000;
  border-radius: 20px;
}

.info-card__title {
  display: inline-block;
  width: 128px;
  color: $color-dark;
}

.info-card__button {
  display: block;
  width: 122px;
  height: 26px;
  margin: 24px auto 0;
  font-family: 'Inika', serif;
  @include font(10px, 26px, $color-gray, 700);
  text-align: center;
  border: 1px solid $color-accent;
  border-radius: 5px;
}
