.header {
  background: $color-bg;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 109px;
  font-family: 'Inika', serif;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  padding: 10px 10px 10px 23px;
  color: $color-dark;
  background: url('../assets/svg/logo.svg') no-repeat;
  background-position: 0 10px;
}

.nav__list {
  display: flex;
  gap: 27px;
  margin-right: -9px;
}

.nav__link {
  padding: 10px;
  color: $color-links;
}
