.welcome {
  background: $color-bg;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 62px 109px 55px;
}

.welcome__pic {
  margin-top: -9px; //PP
  margin-left: -9px; //PP
}

.welcome__content {
  max-width: 549px;
  padding-top: 36px;
}

.welcome__title {
  margin-bottom: 44px;
}

.welcome__span {
  color: $color-prim;
}

.welcome__text {
  max-width: 525px;
  margin-bottom: 47px;
  line-height: 35px;
}

// -------------------------------------------------

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 93px 109px 94px;
}

.about__content {
  max-width: 605px;
  padding-top: 68px;
}

.about__title {
  max-width: 463px;
  margin-bottom: 38px;
}

.about__span {
  color: $color-accent;
}

// -------------------------------------------------

.service {
  background: $color-bg;
}

.service__wrapper {
  padding: 40px 109px 121px;
}

.service__content {
  display: flex;
  margin-bottom: 80px;
}

.service__title {
  max-width: 306px;
  margin-right: 142px;
}

.service__buttons {
  display: flex;
  align-items: center;
  gap: 38px;
  padding-top: 4px; //PP
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
}

.service-item {
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
}

.service-item__pic {
  @include img();
  padding-top: 350px;
}

.service-item__content {
  padding: 9px 20px 35px;
  text-align: center;
  border: 1px solid $color-border;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.service-item__title {
  margin-bottom: 14px;
}

.service-item__desc {
  @include font(16px, 20px, $color-gray);
}

// -------------------------------------------------

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 109px 110px;
}

.prices__right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 452px;
}

.prices__title,
.prices__text {
  font-family: Inter, sans-serif;
  @include font(40px, 50px, $color-dark, 700);
}

.prices__title {
  margin-bottom: 59px;
}

.prices__text {
  margin-bottom: 41px;
  text-align: right;
}

.prices__span {
  color: $color-prim;
}

.prices__pic {
  margin-top: 34px;
  margin-right: -9px;
}

.prices__accordeon {
  padding: 33px 40px;
  border: 1px solid $color-border;
  border-radius: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 10px 40px;
  background: $color-bg;
  border-radius: 20px;
}

.price-item:not(:last-child) {
  margin-bottom: 32px;
}

.price-item__title {
  padding-top: 1px; //PP
  color: $color-dark;
}
