html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #636060;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  font-style: normal;
  color: #717171;
}

h2 {
  font-family: Inika, serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  font-style: normal;
  color: #499a18;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: #e06733;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
}

main,
section,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

button {
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: color 0.3s;
}
a:hover, a:focus, a:focus-visible, a:active {
  color: #e06733;
}

[class*=__wrapper] {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #edf2ec;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 109px;
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  padding: 10px 10px 10px 23px;
  color: #000000;
  background: url("../assets/svg/logo.svg") no-repeat;
  background-position: 0 10px;
}

.nav__list {
  display: flex;
  gap: 27px;
  margin-right: -9px;
}

.nav__link {
  padding: 10px;
  color: #010201;
}

.welcome {
  background: #edf2ec;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 62px 109px 55px;
}

.welcome__pic {
  margin-top: -9px;
  margin-left: -9px;
}

.welcome__content {
  max-width: 549px;
  padding-top: 36px;
}

.welcome__title {
  margin-bottom: 44px;
}

.welcome__span {
  color: #499a18;
}

.welcome__text {
  max-width: 525px;
  margin-bottom: 47px;
  line-height: 35px;
}

.welcome__button {
  padding: 10px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #e06733;
  border-radius: 10px;
}
.welcome__button:hover, .welcome__button:focus, .welcome__button:focus-visible, .welcome__button:active {
  color: #ffffff;
  background: #e06733;
}/*# sourceMappingURL=style.css.map */