html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #636060;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #717171;
}

h2 {
  font-family: Inika, serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #499a18;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #e06733;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
  background: #ffffff;
}

main,
section,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: color 0.3s;
}
a:hover, a:focus, a:focus-visible, a:active {
  color: #e06733;
}

[class*=__wrapper] {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  width: 161px;
  min-height: 50px;
  padding: 10px;
  font-family: Inika, serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
}
.button_welcome {
  width: 158px;
  min-height: 44px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 10px;
}
.button_prices {
  width: 162px;
  font-weight: 700;
}
.button:hover, .button:focus, .button:focus-visible, .button:active {
  color: #ffffff;
  background: #e06733;
}

.dropdown {
  width: 16px;
  height: 16px;
  background: #d9d9d9 url("../assets/svg/arrow.svg") no-repeat center;
  border-radius: 50%;
}
.dropdown:hover, .dropdown:focus, .dropdown:focus-visible, .dropdown:active {
  background: #aea1a1;
  transform: rotate(-180deg);
}
.dropdown_contacts {
  background-color: #aea1a1;
}

.header {
  background: #edf2ec;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 109px;
  font-family: "Inika", serif;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  padding: 10px 10px 10px 23px;
  color: #000000;
  background: url("../assets/svg/logo.svg") no-repeat;
  background-position: 0 10px;
}

.nav__list {
  display: flex;
  gap: 27px;
  margin-right: -9px;
}

.nav__link {
  padding: 10px;
  color: #010201;
}

.welcome,
.service,
.contacts {
  background: #edf2ec;
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 62px 109px 55px;
}

.welcome__pic {
  margin-top: -9px;
  margin-left: -9px;
}

.welcome__content {
  max-width: 549px;
  padding-top: 36px;
}

.welcome__title {
  margin-bottom: 44px;
}

.welcome__span {
  color: #499a18;
}

.welcome__text {
  max-width: 525px;
  margin-bottom: 47px;
  line-height: 35px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 93px 109px 94px;
}

.about__content {
  max-width: 605px;
  padding-top: 68px;
}

.about__title {
  max-width: 463px;
  margin-bottom: 38px;
}

.about__span {
  color: #e06733;
}

.service__wrapper {
  padding: 40px 109px 121px;
}

.service__content {
  display: flex;
  margin-bottom: 80px;
}

.service__title {
  max-width: 306px;
  margin-right: 142px;
}

.service__buttons {
  display: flex;
  align-items: center;
  gap: 38px;
  padding-top: 4px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
}

.service-item {
  width: 330px;
  border-radius: 20px;
  overflow: hidden;
}

.service-item__pic {
  position: relative;
  padding-top: 350px;
}
.service-item__pic > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.service-item__content {
  padding: 9px 20px 35px;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.service-item__title {
  margin-bottom: 14px;
}

.service-item__desc {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #717171;
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 109px 108px;
}

.prices__right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 452px;
}

.prices__title,
.prices__text {
  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
}

.prices__title {
  margin-bottom: 59px;
}

.prices__text {
  margin-bottom: 41px;
  text-align: right;
}

.prices__span {
  color: #499a18;
}

.prices__pic {
  margin-top: 34px;
  margin-right: -9px;
}

.prices__accordeon {
  padding: 33px 40px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 10px 40px;
  background: #edf2ec;
  border-radius: 20px;
}

.price-item:not(:last-child) {
  margin-bottom: 32px;
}

.price-item__title {
  padding-top: 1px;
  color: #000000;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 60px 109px 0;
}

.contacts__pic {
  margin-top: -7px;
}

.contacts__title {
  margin-left: 45px;
  font-weight: 700;
}

.contacts__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 88px;
  padding: 5px 35px 5px 20px;
  width: 450px;
  height: 50px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contacts__span {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: #717171;
  letter-spacing: 0.05em;
}/*# sourceMappingURL=style.css.map */