html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #636060;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 599.9px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }
}

h1 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
  color: #717171;
}
@media (max-width: 1023.9px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 599.9px) {
  h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

h2 {
  font-family: Inika, serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #499a18;
}
@media (max-width: 1023.9px) {
  h2 {
    font-size: 35px;
    line-height: 46px;
  }
}
@media (max-width: 599.9px) {
  h2 {
    font-size: 25px;
    line-height: 33px;
  }
}

h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #e06733;
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
  background: #ffffff;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: transparent;
  transition: background 0.3s;
}
body.menu-open {
  overflow: hidden;
}
body.menu-open::after {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

main,
section,
header,
footer,
nav {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.3s;
  color: inherit;
}
a:hover, a:focus, a:focus-visible, a:active {
  color: #e06733;
}

[class*=__wrapper] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 109px;
}
@media (max-width: 1319.9px) {
  [class*=__wrapper] {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767.9px) {
  [class*=__wrapper] {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 599.9px) {
  [class*=__wrapper] {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.header,
.welcome,
.service,
.contacts {
  background: #edf2ec;
}

.button {
  width: 161px;
  min-height: 50px;
  padding: 5px 10px;
  font-family: Inika, serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
}
.button_prices {
  width: 162px;
  font-weight: 700;
}
@media (max-width: 599.9px) {
  .button {
    width: 121px;
    min-height: 35px;
    font-size: 15px;
    line-height: 20px;
  }
}
.button_welcome {
  width: 158px;
  min-height: 44px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  border-width: 2px;
  border-radius: 10px;
}
@media (max-width: 599.9px) {
  .button_welcome {
    width: 100px;
    min-height: 34px;
    font-size: 10px;
  }
}
.button:hover, .button:focus, .button:focus-visible, .button:active {
  color: #ffffff;
  background: #e06733;
}
.button.active {
  color: #ffffff;
  background: #e06733;
  -webkit-animation: anim 0.4s ease;
          animation: anim 0.4s ease;
}

@-webkit-keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.dropdown {
  position: relative;
  width: 36px;
  height: 36px;
  background: #d9d9d9;
  border: 10px solid #edf2ec;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../assets/svg/arrow.svg") no-repeat center;
  filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(299deg) brightness(94%) contrast(92%);
}
.dropdown:hover, .dropdown:focus, .dropdown:focus-visible, .dropdown:active {
  background: #aea1a1;
  transform: rotate(180deg);
}
.dropdown:hover::after, .dropdown:focus::after, .dropdown:focus-visible::after, .dropdown:active::after {
  filter: invert(100%);
}
.dropdown_contacts {
  background: #aea1a1;
  border-color: #d6e7d2;
}
.dropdown_contacts::after {
  filter: invert(100%);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
  font-family: "Inika", serif;
}
@media (max-width: 1023.9px) {
  .header__wrapper {
    padding-top: 35px;
    padding-bottom: 32px;
  }
}
@media (max-width: 767.9px) {
  .header__wrapper {
    padding-top: 34px;
    padding-bottom: 36px;
  }
}

.logo {
  padding-right: 10px;
  padding-left: 23px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #000000;
  background: url("../assets/svg/logo.svg") no-repeat;
  background-position-y: 9px;
}
@media (max-width: 767.9px) {
  .logo {
    padding: 9px 10px 1px 21px;
    line-height: 16px;
    background-position-y: 2px;
  }
}

.nav__list {
  display: flex;
  gap: 27px;
  margin-right: -9px;
}
@media (max-width: 767.9px) {
  .nav__list {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -450px;
    z-index: 5;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 425px;
    margin: 0;
    padding: 100px 30px 50px;
    background: #ffffff;
    transition: right 0.3s;
    overflow: auto;
  }
  .menu-open .nav__list {
    right: 0;
  }
}

.nav__link {
  padding: 0 10px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 400;
  color: #010201;
}
@media (max-width: 767.9px) {
  .nav__link {
    font-size: 26px;
    color: #499a18;
  }
}

.burger {
  display: none;
}
@media (max-width: 767.9px) {
  .burger {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 26px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
.burger span, .burger::after, .burger::before {
  width: 100%;
  height: 2px;
  background: #717171;
  transition: transform 0.3s;
}
.burger::after, .burger::before {
  content: "";
  position: absolute;
  top: 8px;
}
.menu-open .burger::after, .menu-open .burger::before {
  opacity: 0;
}
.burger::after {
  top: 16px;
}
.menu-open .burger span:first-child {
  transform: rotate(45deg) translate(8px, 9px);
}
.menu-open .burger span:last-child {
  transform: rotate(-45deg) translate(8px, -9px);
}

.welcome__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 62px;
  padding-bottom: 55px;
}
@media (max-width: 1023.9px) {
  .welcome__wrapper {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
@media (max-width: 767.9px) {
  .welcome__wrapper {
    gap: 15px;
  }
}
@media (max-width: 599.9px) {
  .welcome__wrapper {
    padding-top: 26px;
    padding-bottom: 24px;
  }
}

.welcome__pic {
  margin-top: -9px;
  margin-left: -9px;
}
@media (max-width: 1023.9px) {
  .welcome__pic {
    width: 290px;
    margin-top: -6px;
    margin-right: -3px;
  }
}
@media (max-width: 599.9px) {
  .welcome__pic {
    display: none;
  }
}

.welcome__content {
  max-width: 549px;
  padding-top: 36px;
}
@media (max-width: 1319.9px) {
  .welcome__content {
    padding-top: 0;
  }
}
@media (max-width: 1023.9px) {
  .welcome__content {
    order: -1;
    flex-shrink: 0;
    width: 340px;
  }
}
@media (max-width: 599.9px) {
  .welcome__content {
    width: 100%;
  }
}

.welcome__title {
  margin-bottom: 44px;
}
@media (max-width: 1023.9px) {
  .welcome__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 599.9px) {
  .welcome__title {
    max-width: 330px;
    margin-bottom: 20px;
  }
}

.welcome__span {
  color: #499a18;
}

.welcome__text {
  max-width: 525px;
  margin-bottom: 47px;
  line-height: 35px;
}
@media (max-width: 1023.9px) {
  .welcome__text {
    max-width: 330px;
    margin-bottom: 36px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 25px;
  }
}
@media (max-width: 599.9px) {
  .welcome__text {
    max-width: 400px;
    margin-bottom: 26px;
    margin-left: 0;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 93px;
  padding-bottom: 94px;
}
@media (max-width: 1319.9px) {
  .about__wrapper {
    align-items: center;
  }
}
@media (max-width: 1023.9px) {
  .about__wrapper {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
@media (max-width: 599.9px) {
  .about__wrapper {
    gap: 0px;
    padding-top: 30px;
    padding-bottom: 27px;
  }
}

.about__content {
  max-width: 605px;
  padding-top: 68px;
}
@media (max-width: 1319.9px) {
  .about__content {
    padding-top: 0;
  }
}
@media (max-width: 1023.9px) {
  .about__content {
    max-width: 100%;
  }
}

.about__title {
  max-width: 463px;
  margin-bottom: 38px;
}
@media (max-width: 1023.9px) {
  .about__title {
    max-width: 423px;
    margin: 0 auto 50px;
    text-align: center;
  }
}
@media (max-width: 599.9px) {
  .about__title {
    margin-bottom: 13px;
  }
}

.about__span {
  color: #e06733;
}

.about__text {
  margin-bottom: 28px;
}
@media (max-width: 599.9px) {
  .about__text {
    margin-bottom: 0;
    padding-right: 8px;
    font-size: 15px;
  }
}

@media (max-width: 1023.9px) {
  .about__pic {
    width: 250px;
  }
}
@media (max-width: 599.9px) {
  .about__pic {
    width: 150px;
  }
}

.service__wrapper {
  padding-bottom: 121px;
}
@media (max-width: 1023.9px) {
  .service__wrapper {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}
@media (max-width: 599.9px) {
  .service__wrapper {
    padding-top: 30px;
    padding-bottom: 27px;
  }
}

.service__content {
  display: flex;
  flex-wrap: wrap;
  gap: 38px;
  margin-bottom: 80px;
}
@media (max-width: 1023.9px) {
  .service__content {
    margin-bottom: 40px;
  }
}

.service__title {
  max-width: 306px;
  margin-right: 104px;
}
@media (max-width: 1023.9px) {
  .service__title {
    margin-right: 0;
  }
}
@media (max-width: 599.9px) {
  .service__title {
    max-width: 187px;
  }
}

.service__buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 38px;
  padding-top: 4px;
}
@media (max-width: 767.9px) {
  .service__buttons {
    gap: 20px;
  }
}
@media (max-width: 599.9px) {
  .service__buttons {
    padding-top: 0;
    gap: 9px 10px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px 40px;
}
@media (max-width: 1023.9px) {
  .services {
    justify-content: center;
    gap: 38px 107px;
  }
}
@media (max-width: 767.9px) {
  .services {
    gap: 38px 50px;
  }
}
@media (max-width: 599.9px) {
  .services {
    gap: 34px;
  }
}

.service-item {
  width: 330px;
  max-width: 30%;
  min-width: 280px;
  border-radius: 20px;
  overflow: hidden;
  transition: filter 0.3s;
}
.service-item.blurred {
  filter: blur(2px);
}
@media (max-width: 1023.9px) {
  .service-item {
    max-width: 280px;
    min-width: auto;
  }
}

.service-item__pic {
  position: relative;
  padding-top: 350px;
}
.service-item__pic > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.service-item__content {
  padding: 9px 20px 35px;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 1023.9px) {
  .service-item__content {
    padding: 10px 38px 18px;
  }
}

.service-item__title {
  margin-bottom: 14px;
}
@media (max-width: 1023.9px) {
  .service-item__title {
    margin-bottom: 10px;
  }
}

.service-item__desc {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #717171;
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 108px;
}
@media (max-width: 1023.9px) {
  .prices__wrapper {
    padding-bottom: 81px;
  }
}
@media (max-width: 767.9px) {
  .prices__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 599.9px) {
  .prices__wrapper {
    padding-top: 25px;
    padding-bottom: 40px;
    gap: 20px;
  }
}

.prices__title {
  margin-bottom: 60px;
  font-family: Inter, sans-serif;
  line-height: 49px;
  color: #000000;
  font-weight: 700;
}
@media (max-width: 1023.9px) {
  .prices__title {
    margin-bottom: 57px;
    margin-left: 15px;
    line-height: 42px;
  }
}
@media (max-width: 767.9px) {
  .prices__title {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 599.9px) {
  .prices__title {
    margin-bottom: 37px;
    line-height: 30px;
  }
}

.prices__right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 460px;
}
@media (max-width: 1023.9px) {
  .prices__right-column {
    max-width: 296px;
    padding-top: 99px;
  }
}
@media (max-width: 767.9px) {
  .prices__right-column {
    align-items: center;
    padding-top: 0;
  }
}
@media (max-width: 599.9px) {
  .prices__right-column {
    max-width: 240px;
  }
}

.prices__text {
  margin-bottom: 41px;
  text-align: right;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #000000;
}
@media (max-width: 1023.9px) {
  .prices__text {
    margin-bottom: 29px;
    font-size: 25px;
    line-height: 35px;
  }
}
@media (max-width: 767.9px) {
  .prices__text {
    text-align: center;
  }
}
@media (max-width: 599.9px) {
  .prices__text {
    margin-bottom: 19px;
    font-size: 20px;
  }
}

.prices__span {
  color: #499a18;
}

.prices__pic {
  margin-top: 34px;
  margin-right: -9px;
}
@media (max-width: 1023.9px) {
  .prices__pic {
    margin-top: 29px;
    margin-right: -10px;
  }
}
@media (max-width: 599.9px) {
  .prices__pic {
    display: none;
  }
}

.prices__accordeon {
  padding: 33px 40px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
@media (max-width: 599.9px) {
  .prices__accordeon {
    padding: 28px 21px;
  }
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 10px 30px 10px 40px;
  background: #edf2ec;
  border-radius: 20px;
}
@media (max-width: 599.9px) {
  .price-item {
    width: 180px;
    height: 50px;
    padding-left: 30px;
  }
}

.price-item:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 599.9px) {
  .price-item:not(:last-child) {
    margin-bottom: 14px;
  }
}

.price-item__title {
  padding-top: 1px;
  color: #000000;
}
@media (max-width: 599.9px) {
  .price-item__title {
    font-size: 15px;
  }
}

.contacts__wrapper {
  padding-top: 60px;
  padding-bottom: 0;
}
@media (max-width: 1023.9px) {
  .contacts__wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 599.9px) {
  .contacts__wrapper {
    padding-top: 25px;
  }
}

.contacts__title {
  text-align: center;
  font-weight: 700;
}
@media (max-width: 1023.9px) {
  .contacts__title {
    margin-bottom: 99px;
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 767.9px) {
  .contacts__title {
    margin-bottom: 81px;
  }
}
@media (max-width: 599.9px) {
  .contacts__title {
    font-size: 25px;
    line-height: 33px;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1023.9px) {
  .contacts__content {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__pic {
  margin-top: -59px;
}
@media (max-width: 1023.9px) {
  .contacts__pic {
    order: 1;
    width: 200px;
    margin-top: 0;
    margin-left: 20px;
  }
}
@media (max-width: 599.9px) {
  .contacts__pic {
    width: 100px;
    margin-left: -5px;
  }
}

.contacts__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  margin-top: 36px;
  padding: 5px 25px 5px 20px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1023.9px) {
  .contacts__select {
    margin-top: 0;
    margin-bottom: 249px;
  }
}
@media (max-width: 599.9px) {
  .contacts__select {
    width: 300px;
    max-width: 100%;
    margin-bottom: 132px;
    padding-right: 12px;
  }
}

.contacts__span {
  font-size: 20px;
  line-height: 40px;
  font-weight: 400;
  color: #717171;
  letter-spacing: 0.05em;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: #000000;
  line-height: 50px;
}
@media (max-width: 1023.9px) {
  .footer__wrapper {
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 18px;
    line-height: 24px;
  }
}
@media (max-width: 599.9px) {
  .footer__wrapper {
    gap: 3px;
    padding-top: 22px;
    padding-bottom: 7px;
    font-size: 20px;
  }
}

.footer__content {
  display: flex;
  gap: 21px;
  margin-right: 20px;
}
@media (max-width: 1023.9px) {
  .footer__content {
    gap: 23px;
    margin-right: 4px;
  }
}
@media (max-width: 599.9px) {
  .footer__content {
    margin-bottom: 13px;
  }
}

.soclist {
  display: flex;
  gap: 20px;
}

.soclist__link {
  display: flex;
  align-items: center;
  min-width: 32px;
  max-width: 100px;
  height: 50px;
  font-size: 16px;
  line-height: 16px;
  transition: filter 0.3s;
}
.soclist__link:hover, .soclist__link:focus, .soclist__link:focus-visible, .soclist__link:active {
  filter: invert(42%) sepia(88%) saturate(500%) hue-rotate(-26deg) brightness(98%) contrast(88%);
}/*# sourceMappingURL=style.css.map */